html,
body {
  background-color: #d5e1ef;
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Used fixed width & height because it's fixed on figma file for both 
desktop and mobile */
.qr-code-div {
  width: 320px;
  height: 499px;
  padding-top: 1em; /* Used em for responsivity */
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 25px 25px rgb(0 0 0 / 4.77%);
}

.inner-qr-code-img,
.text {
  display: block;
  margin: 0 auto;
}

.inner-qr-code-img {
  border-radius: 10px;
  width: 288px;
  height: 288px;
}

h1 {
  font-family: Outfit, sans-serif;
  color: #1f314f;
  font-weight: bold;
  font-size: 1.375rem; /* 22px */
  line-height: 120%;
  margin-top: 1.0909em; /* 24px */
  text-align: center;
}

p {
  font-family: Outfit, sans-serif;
  color: #68778d;
  margin-top: 1rem; /* 16px */
  line-height: 140%;
  letter-spacing: 0.0125em; /* 0.2px */
  text-align: center;
}
